<!-- Copyright (c) Microsoft Corporation. All rights reserved.
     Licensed under the MIT License. -->

@{
    ViewData["Title"] = "Home";
}



<div class="home-page-background">
    <div class="content">
        @using (Html.BeginForm("Search", "Home", FormMethod.Post))
        {
            <div class="form-group">
                <label id="search-label">Search</label>
                <div id="search-input-group" class="input-group">
                    <input type="text" class="form-control advancedAutoComplete" name="q" id="index-search-input" placeholder="What are you searching for today?" autocomplete="off">
                    <span class="input-group-btn">
                        <button id="index-search-submit" class="btn btn-default" type="submit"><span class="ms-Icon ms-Icon--Search"></span></button>
                    </span>
                </div>
            </div>
        }
    </div>
</div>
<div class="content row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <h5>LEARN MORE</h5>
        <div style="font-size:16px;">
            <a href="https://azure.microsoft.com/en-us/services/search/">Azure Search</a>
        </div>
        <div style="font-size:16px;">
            <a href="https://docs.microsoft.com/en-us/azure/search/cognitive-search-resources-documentation">Cognitive Search</a>
        </div>
        <div style="font-size:16px;">
            <a href="https://azure.microsoft.com/en-us/services/cognitive-services/text-analytics/">Text Analytics</a>
        </div>
        <div style="font-size:16px;">
            <a href="https://azure.microsoft.com/en-us/services/cognitive-services/computer-vision/">Computer Vision</a>
        </div>
    </div>
</div>

    <table style="width:100%;height:100%;margin-top:100px;">
        <tr style="height:100%">
            <td width="40%">
                <div id="headlinehomepage" style="margin-left:100px;font-size:xx-large;font-style:oblique;margin-bottom:150px">
                    <span></span>
                </div>
                <div style="margin-left:100px;font-size:large;font-weight:700;margin-bottom:100px;">
                    <a asp-area="" asp-controller="Home" asp-action="Search">Search Now ></a>

                </div>
            </td>
            <td width="60%" style="margin:auto;display:block">
                <div style="margin:auto;display:block">
                    <img src="~/images/homepageimage.png" width="600" max-height="auto-resize" style="border-radius: 50%;" />
                </div>
            </td>
        </tr>
    </table>
