@using CognitiveSearch.UI.Configuration
@inject OrganizationConfig OrgConfig


<div>
	<footer class="main-footer navbar-bg navbar-text">
		<div class="content">
			<span class="copyright">&copy; @DateTime.Now.Year - @OrgConfig.Name</span>
		</div>
	</footer>
</div>
