
@{
    ViewData["Title"] = "Functionality not available";
}
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <main role="main" class="m-5">
            <h3>The functionality is not available in this deployment</h3>

            <p>
                This is a shared deployment. Some functionalities including customization and uploading files are not available in this deployment.
            </p>
            <p>
                If you want to use this functionality, you can create it your own deployment. You can find the deployment script and instruction in
                <a href="https://github.com/Azure/AIPlatform/tree/master/end-to-end-solutions/kma/Deployment" target="_blank">the GitHub repo.</a>
            </p>
    </main>
