name: Docker Image CI

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - name: Azure Container Registry Login
      uses: Azure/docker-login@v1
      with:
        # Container registry username
        username: ${{ secrets.ACR_USERNAME }}
        # Container registry password
        password: ${{ secrets.ACR_PASSWORD }}
        # Container registry server url
        login-server: ${{ secrets.ACR_LOGIN_SERVER }}
        
    - uses: actions/checkout@v2
    - name: Build the Docker image
      run: 
        cd "02 - Web UI Template";
        docker build . --tag videokm.azurecr.io/web-ui:latest;
        docker push videokm.azurecr.io/web-ui:latest
      
